/*
Le CSS de mon portfolio
Name : Portfolio;
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


body {
	margin: 0px; 
	color: rgb(20,20,20);
	background-color: rgb(245,245,245); 
}

h1 {
	color: #23AAFD;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}
h2 {
	color: red;
	font-size: 20px;
	font-family: arial;
}

p {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px ; 
    line-height: 20px ;
}

div {
	margin: ;
	border: ;
	margin  ;
	padding ;
}

#profil {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#my-header {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
	color: white;
	background-color: grey; 
}

.feature {
	padding: 40px;
	font-weight:300 ;
}

.feature img {
	padding: 20px;
	border: 2px red solid;
	border-radius: 50%
    
}

#my-footer {
	color: lightgrey;
	background: rgb(30,30,30);
	padding: 30px;
}

#my-footer a {
	color: lightgrey;
	font-size: 25px;
}

#my-footer a:hover {
	color: white;
}

